<h2>注文内容の確認</h2>

<p>お客様情報</p>
<p>

<%= @guest.lastname %>
<%= @guest.firstname %>
<%= @guest.last_furigana %>
<%= @guest.first_furigana %>
<%= @guest.first_zip_code %>
<%= @guest.last_zip_code %>
<%= @guest.prefectures %>
<%= @guest.municipalities %>
<%= @guest.address %>
<%= @guest.phone_number %>
<%= @guest.email %>
既にお客様が持っている食材
<%= @guest.request_food %>
</p>
<p>購入品と金額</p>
<p>
<% @items.each do |item| %>
  <% post = Post.find_by(id: item.post_id) %>
  <%= post.title %>
  <%= "#{post.price}円" %>
<% end %>
</p>
<p>合計金額</p>
<p><%= "#{@cart.total_price}円" %></p>
<%= link_to "注文を確定する", guests_order_path(last: @guest.lastname, first: @guest.firstname, last_furigana: @guest.last_furigana, first_furigana: @guest.first_furigana,
  zip_code1: @guest.first_zip_code, zip_code2: @guest.last_zip_code, prefectures: @guest.prefectures, municipalities: @guest.municipalities, address: @guest.address, phone: @guest.phone_number,
  email: @guest.email, request_food: @guest.request_food), {method: "post"} %>