<% if @items.blank? %>
  何もありません
<% end %>
<h2>お買い物カート</h2>

<% @items.each do |item| %>
    <% post = Post.find_by(id: item.post_id) %>
    <h2><%= post.title %></h2>
    <%= "#{post.price}円" %>
    <%= link_to "カートから外す", carts_destroy_path(id: post.id,price: post.price), {method:"post"} %>
<% end %>
<h3><%= "合計金額は#{@cart.total_price}円です" %></h3>
<%= link_to("買い物を続ける","/posts/index") %>
<%= link_to("レジへ進む","/guests/form") %>