<!DOCTYPE html>
<html>
  <head>
    <title>職人ドットコム</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("職人ドットコム","/") %>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
          <li>
            <%= link_to(@current_user.name,"/users/#{@current_user.id}") %>
          </li>
          <li>
            <%= link_to("投稿する","/posts/new") %>
          </li>
          <li>
            <%= link_to("投稿一覧","/posts/index") %>
          </li>
          <li>
            <%= link_to("ログアウト", "/logout", {method: :post}) %>
          </li>
          <li>
            <%= link_to("ユーザー一覧","/users/index") %>
          </li>
        <% else %>
          <li>
            <%= link_to("ユーザー登録","/users/new") %>
          </li>

          <li>
            <%= link_to("ログイン","/login") %>
          </li>
        <% end %>
        
        
        

      </ul>
    </header>
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
    <%= yield %>
  </body>
</html>
